AUTO_INSTALL=yes   # Auto install files that don't exist (-i)
AUTO_UPGRADE=yes   # Auto upgrade files that have not been user modified (-U)
FREEBSD_ID=yes     # Install new file if it differs only by VCS Id (-F)
DELETE_STALE_RC_FILES=yes #Remove stale files in /etc/rc.d without prompting
PRESERVE_FILE=yes  # Preserve files that have been replaced
COMP_CONFS=yes     # compare /etc/rc.conf to /etc/defaults/rc.conf (-C)
